*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
body{
    width: 100vw;
    min-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: rgb(30, 30, 30);
}
.shell{
    width: 70%;
    height: 500px;
    margin: 50px auto 50px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 5px 10px 20px rgb(66, 66, 66);
}
.images{
    width: 400%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: 1s;
}

.img{
    width: 25%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img img{
    height: 100%;
    width: 100%;
}
.min{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    width: 40%;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
}
.m{
    width: 10px;
    height: 10px;
    cursor:pointer;
    margin: 0 12px;
    border-radius: 50%;
    border: solid rgba(255, 255, 255, 0.5) 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
.button{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
}
.button-left,.button-right{
    display: none;
    font-size: 50px;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 0 20px;
    cursor: pointer;
    line-height: 500px;
    color: #fff;
}
.shell:hover>.button>.button-left,.shell:hover>.button>.button-right{
    display: flex;
}
.index-middle-box{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    background-color: inherit;
    & .view-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 300px;
        border-radius: 20%;
        overflow: hidden;
        box-shadow: 5px 10px 20px rgb(66, 66, 66);
        & img{
            width: 100%;
            transition: 0.5s;
            filter: blur(3px);
            &:hover{
                width: 110%;
            }

        }
        & div{
            position: absolute;
            color: white;
            font-size: 40px;
        }
    }

    & .cook-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 300px;
        border-radius: 20%;
        overflow: hidden;
        box-shadow: 5px 10px 20px rgb(66, 66, 66);
        & img{
            width: 100%;
            transition: 0.5s;
            filter: blur(3px);
            &:hover{
                width: 110%;
            }
        }
        & div{
            position: absolute;
            color: white;
            font-size: 40px;
        }
    }
}

.index-popular-dish{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    & .title{
        height: 120px;
        width: 300px;
        color: white;
        font-size: 36px;
        font-weight: bold;
        background-image: url(../icon&picture/丝带.png);
        background-size:cover;
        background-position:center;
        z-index: 2;
        & span{
            display: inline-block;
            position: relative;

        }
    }

    & .dish-box{
        position: relative;
        margin-top: -20px;
        width: 100%;
        min-height: 200px;
        box-shadow: 2px 5px 10px rgb(66, 66, 66);
        background-color: rgb(30, 30, 30);
        display: grid;
        place-content: center;
        place-items: center;
        grid-template-columns:repeat(auto-fill,300px);
        grid-template-rows: repeat(auto-fill,450px);
        gap:100px;
        padding: 40px 30px;
        &::before{
            content: '';
            display: block;
            width: 30%;
            height: 200px;
            background-color: rgb(160, 0, 0);
            position: absolute;
            left: -20px;
            bottom: -20px;
            z-index: -1;
            box-shadow: 2px 5px 10px rgb(66, 66, 66);
        }
        &::after{
            content: '';
            display: block;
            width: 30%;
            height: 200px;
            background-color: rgb(160, 0, 0);
            position: absolute;
            right: -20px;
            top: -20px;
            z-index: -1;
            box-shadow: 2px 5px 10px rgb(66, 66, 66);
        }
        & .dish-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-self: center;
            transition: 1s;
            & .dish-img{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                overflow: hidden;
                width: 300px;
                height: 300px;
                border: 3px solid rgb(160, 0, 0);
                transition: 0.5s;
                & img{
                    transition: 0.5s;
                    width: 300px;
                }
            }
            &:hover>.dish-img>img{
                width: 350px;
            }

            & .dish-title{
                width: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                margin-top: 20px;
                font-size: 20px;
                font-family: 'SimHei';
            }

            & .dish-text{
                height: 90px;
                margin-top: 10px;
                width: inherit;
                color: rgb(160, 160, 160);
            }
        }
    }
}