*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
  .add-zone{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    & .add-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
        & .imgzone{
        height: 200px;
        width: 400px;
        border: 2px dashed gray;
        border-radius: 20px;
        background-color: rgb(240, 240, 240);
        text-align: center;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
        & .add-button{
            margin-top: 20px;
            font-size: 16px;
            font-weight: 800;
            padding: 10px 10px;
            border-radius: 6px;
        }
    }
    

  }
  .CarousChartList{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    & table{
        border-collapse: collapse;
        margin-top: 30px;
        & thead{
            background-color: skyblue;
            font-weight: 600;
        }
        & tbody{
            background-color: lightgray;
        }
        & td{
            padding: 10px 20px;
            border:2px solid black;
            font-size: 20px;
            text-align: center;
            min-width: 100px;
            max-width: 300px;
            & button{
                padding: 5px 5px;
                font-weight: 700;
            }
            & img{
                width: 200px;
            }
        }
    }
    
  }